<h1><%= t "app_name" %></h1>
<p><%= "#{t "activate_mail.greeting"} #{@user.name}" %></p>
<p><%= t "activate_mail.content" %></p>
<%= link_to t("activate_mail.activate"),
  edit_account_activation_url(@user.activation_token, email: @user.email)
%>
